/*------------------------------------------------------------------*/
/* Стили используемые в DataLife Engine     			            */
/*------------------------------------------------------------------*/

form {  PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px;
}

/* 
 * ========================================
 * Вывод архива 
 * ========================================
 */
.archives {
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	margin-top:6px;
	margin-left:20px;
	margin-bottom:10px;
}
.archives a {
	font-family:Tahoma;
	font-size:11px;
	color:#43637E;
}
/* 
 * ========================================
 * Цитата и скрытый текст
 * ========================================
 */
.title_quote {
	background: #FEFFBD;
	border: 1px dotted rgb(190,190,190);
	border-bottom: 0;
	color: #222;
	font-weight: bold;
	font-size: 10px;
	margin: 8px auto 0 auto;
	padding: 3px;
}

 .quote {
	color: #000000;
	FONT: 10pt Verdana; 
	text-align:justify;
	background-color: lightyellow; 
	border: 1px dotted rgb(190,190,190);
	padding: 5px;
	}
/* 
 * ========================================
 * Teг CODE
 * ========================================
 */
 .scriptcode {
	color: #000000;
	FONT: 8pt Verdana; 
	text-align:left;
	background-color: lightyellow; 
	border-width:1; 
	border-color:rgb(190,190,190); 
	border-style:dotted;
	padding: 5px;
	}
/* 
 * ========================================
 * Календарь 
 * ========================================
 */

.weekday-active-v {
	color: #4974a3;
	font-family:tahoma;
	 font-size:11px;
}
.day-active-v {
	color: #4974a3;
	font-family:tahoma;
	 font-size:11px;
}
.calendar {
	 font-family:verdana;
	 font-size:11px
}
.calendar td, th {
	 font-family:verdana;
	 font-size:11px;
	 text-decoration: none;
	 padding: 3px;
}

.weekday {
	color: #804040;
	font-family:verdana;
	font-size:11px;
}
.weekday-active {
	color: #804040;
	font-family:verdana;
	font-size:11px;
}
.day-active {
	color: #804040;
	font-family:verdana;
	font-size:11px;
}
.day-active a,
.weekday-active a,
.day-active-v a,
.weekday-active-v a
 {
text-decoration: underline;
}

.monthlink {
color: #4974a3;
font-family:tahoma;
font-size:11px;
text-decoration: none;
}

/* 
 * ========================================
 * Рейтинг 
 * ========================================
 */

.rating {
		color: #666666;
		font-family: Tahoma, helvetica, sans-serif;
		font-size: 11px; 
		width: 85px;
		height: 16px;
	}
	.unit-rating{
		list-style:none;
		margin: 0px;
		padding:0px;
		width: 85px;
		height: 16px;
		position: relative;
		background: url('/images/rating.gif') top left repeat-x;		
	}
	
	.unit-rating li{
	    text-indent: -90000px;
		padding:0px;
		margin:0px;
		float: left;
	}
	.unit-rating li a{
		display:block;
		width:17px;
		height: 16px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 17;
		position: absolute;
		padding: 0px;
	}
	.unit-rating li a:hover{
		background: url('/images/rating.gif') left center;
		z-index: 2;
		left: 0px;
	}
	.unit-rating a.r1-unit{left: 0px;}
	.unit-rating a.r1-unit:hover{width:17px;}
	.unit-rating a.r2-unit{left:17px;}
	.unit-rating a.r2-unit:hover{width: 34px;}
	.unit-rating a.r3-unit{left: 34px;}
	.unit-rating a.r3-unit:hover{width: 51px;}
	.unit-rating a.r4-unit{left: 51px;}	
	.unit-rating a.r4-unit:hover{width: 68px;}
	.unit-rating a.r5-unit{left: 68px;}
	.unit-rating a.r5-unit:hover{width: 85px;}
	.unit-rating li.current-rating{
		background: url('/images/rating.gif') left bottom;
		position: absolute;
		height: 16px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
}

/* 
 * ========================================
 * BB коды
 * ========================================
 */ 
.bbcodes {
	background: #FFF;
	border: 1px solid #E0E0E0;
	color: #666666;
	font-family: Verdana, Tahoma, helvetica, sans-serif;
	padding: 2px;
	vertical-align: middle;
	font-size: 10px; 
	vertical-align: middle;
	margin:2px;
	height: 21px;
}

.editor_button {
	float:left;
	cursor:pointer;
	padding-left: 2px;
	padding-right: 2px;
}
.editor_buttoncl {
	float:left;
	cursor:pointer;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
}
.editbclose {
	float:right;
	cursor:pointer;
}

/* 
 * ========================================
 * Дополнительные поля новостей
 * ========================================
 */ 

.xfields textarea {
width:500px; height:90px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.xfields input {
width:250px; height:18px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.xfields select {
height:18px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}

/* 
 * ========================================
 * Дополнительные поля профиля пользователей
 * ========================================
 */ 

.xprofile textarea {
width:499px; height:90px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.xprofile input {
width:250px; height:18px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}


/* 
 * ========================================
 * Персональные сообщения
 * ========================================
 */ 

.pm_head {
	FONT: 10pt Verdana; 
}
.pm_list {
	color: #888888;
	font-size: 11px;
	font-family: tahoma;
	}
.pm_list a {
	color: #4b719e;
	font-size: 11px;
	font-family: tahoma;
}

/* 
 * ========================================
 * Выпадающее меню
 * ========================================
 */ 

#dropmenudiv{
border:1px solid white;
border-bottom-width: 0;
font:normal 10px Verdana;
background-color: #6497CA;
line-height:20px;
margin:2px;
filter: alpha(opacity=95, enabled=1) progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=3);
}

#dropmenudiv a{
display: block;
text-indent: 3px;
border: 1px solid white;
padding: 1px 0;
MARGIN: 1px;
color: #FFF;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: #FDD08B;
color: #000;
}

/* 
 * ========================================
 * Опрос
 * ========================================
 */

.vote  {
	color: #717171;
	font-size: 11px;
	font-family: tahoma;
}

/* 
 * ========================================
 * Уведомление о получении новых PM
 * ========================================
 */

#newpm {
	position:absolute;
	width:400px;
	padding:4px;
	background-color:#FDFDFD;
	border:1px solid #BBB;
	font-family: Verdana;
	font-size: 11px;
	line-height: 135%;
	}

#newpmheader {
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	height:20px;
	color: #000;
    font-weight: bold;
	background-color:#E3C0C0;
	font-family:verdana, sans-serif;
	font-size:11px;
	cursor:move;
	}

#newpm a{
	background: transparent;
	color: #4D6A8A;
	text-decoration: none;
}

#newpm a:hover{
	background: transparent;
	color: #4D6A8A;
	text-decoration: underline;
}
/* 
 * ========================================
 * Ссылка на скачивание прикрепленного файла
 * ========================================
 */
#attachment {
	color: gray;
	}

/* 
 * ========================================
 * Поиск по сайту и результаты поиска
 * ========================================
 */

.search {
	font-family: Verdana;font-size: 11px;
	color:#53646F;
	text-decoration: none;
	padding:2px;
	}

.textin {
	font-family: Verdana;font-size: 11px;
	color:#00002C;
	text-decoration: none;
	}

.sresult  {
	text-align: justify;
	font-family:verdana;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
	font-size:12px;
	color:#606D77;
}
/* ==================== показ оригинальной картинки загруженной на сайт из уменьшенной копии */
.highslide-image-blur {
}
.highslide-html-content {
	position: absolute;
    display: none;
}
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}
.highslide-loading {
    display: block;
	color: white;
	font-size: 9px;
	font-weight: bold;
    text-decoration: none;
	padding: 3px;
	border: 1px solid white;
    background-color: black;
}